$black: #000000;
$white: invert($black);
$dark-blue: #091E28;
$light-gray: #959595;
$dark-gray: #43463E;
$light-green: #73933C;
$lighten-green: #9BC651;
$dark-green: #37461D;
$nav-color: #FFFFFD;
$nav-item-color: #758160;
