.c-header {
  @include media-query-max(350px) {
  margin-top: 40px;
  }
}

.c-nav {
  width: 100%;
  height: 141px;
  background-color: rgba($nav-color,0.8);
  position: fixed;
  display: flex;
  align-items: center;
  font-size: 2.188em; /* 35/16 */
  z-index: 1;
  top: 0;
  @include media-query-max(768px) {
    height: 80px;
  }
  @include media-query-max(550px) {
    height: 50px;
  }
  @include media-query-max(400px) {
    height: 40px;
  }

  ul {
    list-style-type: none;
  }

  &__container {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    & i {
      transform: scale(2);
    }

    & li:nth-child(1) {
      color: $lighten-green;
      margin-left: auto;
      margin-right: auto;
      font-weight: bold;
      transform: translateX(38%);
      z-index: 1;
      @include media-query-max(751px) {
        transform: none;
      }
    }

    & li:nth-child(n+2):nth-child(-n+3) {
      margin-right: 1.5em;
      color: $nav-item-color;
    }

    & li:nth-child(2) {
      @include media-query-max(751px) {
        display: none;
      }

    }
  }

  &__hamburger {
    cursor: pointer;
    width: 40px; /* 40/16 */
    height: 22px; /* 22/16 */
    border: 0;
    border-top: 3px solid $nav-item-color;
    background-color: transparent;
    position: relative;
    transition: 0.3s transform linear;

    @include media-query-max(440px) {
      transform: scale(0.7);
    }

      &::before,&::after {
        content: "";
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        border-top: 3px solid $nav-item-color;
        transform: translateY(6px);
      }

      &::after {
        transform: translateY(15px);
      }

      &.active {
        transform: rotate(45deg) translateY(3px);
        border: none;
        border-color: $dark-gray;
        @include media-query-max(440px) {
          transform: rotate(45deg) translateY(3px) scale(0.7);
        }
      }

      &.active::after {
        transform: rotate(-90deg) translateX(-6px);
        border-color: $dark-gray;
      }

      &.active::before {
        border-color: $dark-gray;
      }
  }

}

.js-open__menu {
  width: 80%;
  height: 100vh;
  background: $white;
  color: $dark-gray;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 100;
  transition: transform .3s ease-in-out;
  -webkit-box-shadow: 10px 6px 5px -10px rgba(0,0,0,0.24);
  -moz-box-shadow: 10px 6px 5px -10px rgba(0,0,0,0.24);
  box-shadow: 10px 6px 5px -10px rgba(0,0,0,0.24);
  @include media-query-max(350px) {
    width: 75%;
  }
  & ul {
    list-style: none;
    margin: 4em 2em 4em;
    padding: 0 3em;

    @include media-query-max(530px) {
      padding: 0;
    }

    & li {
      line-height: 3em;
      text-align: left;

      & a {
        color: $dark-gray;
        text-decoration: none;
      }

      & a:active {
        color: $nav-item-color;
      }
    }
  }
}

.c-nav .js-open__menu[data-state=closed] {
  transform: translateX(-105%);
}

.c-nav .js-open__menu[data-state=open] {
  transform: translateX(0%);
}
